html
    head
    body
        form(method='post', action='/edit/' + index)
            div
                label(for='name') Name: 
                input(id='name', name='name', value=user.name)
            div
                label(for='userId') UserID: 
                input(id='userId', name='userId', value=user.userId)
            div
                label(for='email') Email: 
                input(id='email', name='email', value=user.email)
            div
                label(for='age') Age: 
                input(id='age', name='age', value=user.age)
            div 
                input(type='submit') 