html
    head
    body
        a(href='/create')
            button Add User
        each user in users
            h3 #{user.name}
            ul
                li #{user.userId}
                li #{user.email}
                li #{user.age}